 /*FONTS*/
@font-face {
    font-family: 'quicksandbook';
    src: url('Quicksand_Book-webfont.eot');
    src: url('Quicksand_Book-webfont.eot?#iefix') format('embedded-opentype'),
    url('Quicksand_Book-webfont.woff2') format('woff2'),
    url('Quicksand_Book-webfont.woff') format('woff'),
    url('Quicksand_Book-webfont.ttf') format('truetype'),
    url('Quicksand_Book-webfont.svg#quicksandbook') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'quicksandlight';
    src: url('Quicksand_Light-webfont.eot');
    src: url('Quicksand_Light-webfont.eot?#iefix') format('embedded-opentype'),
    url('Quicksand_Light-webfont.woff2') format('woff2'),
    url('Quicksand_Light-webfont.woff') format('woff'),
    url('Quicksand_Light-webfont.ttf') format('truetype'),
    url('Quicksand_Light-webfont.svg#quicksandlight') format('svg');
    font-weight: normal;
    font-style: normal;
	text-shadow: 2px 2px #000;
	color: white;
}

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
	
    background-color:#E0F5FF;
    background-image:linear-gradient(top, #66CCFF 0%, #E0F5FF 51%);
    background-image:-webkit-linear-gradient(top, #66CCFF 0%, #E0F5FF 51%);
    background-image:-ms-linear-gradient(top, #66CCFF 0%, #E0F5FF 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #66CCFF),
        color-stop(0.51, #E0F5FF)
    );
	
	<!--background-image: url(../img/background.jpg);-->
	<!--background-size: cover; 
    background-attachment:fixed;-->
    font-family: 'Helvetica', Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
	color: white;
	/*text-shadow: 2px 2px 4px #000000;*/
}

/* Portrait layout (default) */
.startScherm {
    position:absolute;             /* position in the center of the screen */
    left:40%;
    top:50%;
    text-align:center;
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#000000;
    font-size:12px;
    margin:0px 0px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
    text-align: center;
    color:#fff;
}

.event.received {
    background-color:#4B946A;
    display:none;
    text-align: center;
    color:#fff;
}

.logo{
    width:300px;
    height:100px;
    /*background-color: red;*/
    margin-bottom:10px;
}

#homeButton{
    margin-top:10px;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}