/*FONTS*/
@font-face {
    font-family: 'Bebas Neue Bold';
    src: url('bebasneue_bold-webfont.eot');
    src: url('bebasneue_bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('bebasneue_bold-webfont.woff2') format('woff2'),
    url('bebasneue_bold-webfont.woff') format('woff'),
    url('bebasneue_bold-webfont.ttf') format('truetype'),
    url('bebasneue_bold-webfont.svg#bebas_neuebold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas Neue Book';
    src: url('bebasneue_book-webfont.eot');
    src: url('bebasneue_book-webfont.eot?#iefix') format('embedded-opentype'),
    url('bebasneue_book-webfont.woff2') format('woff2'),
    url('bebasneue_book-webfont.woff') format('woff'),
    url('bebasneue_book-webfont.ttf') format('truetype'),
    url('bebasneue_book-webfont.svg#bebas_neuebook') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas Neue Light';
    src: url('bebasneue_light-webfont.eot');
    src: url('bebasneue_light-webfont.eot?#iefix') format('embedded-opentype'),
    url('bebasneue_light-webfont.woff2') format('woff2'),
    url('bebasneue_light-webfont.woff') format('woff'),
    url('bebasneue_light-webfont.ttf') format('truetype'),
    url('bebasneue_light-webfont.svg#bebas_neuelight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas Neue Regular';
    src: url('bebasneue_regular-webfont.eot');
    src: url('bebasneue_regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('bebasneue_regular-webfont.woff2') format('woff2'),
    url('bebasneue_regular-webfont.woff') format('woff'),
    url('bebasneue_regular-webfont.ttf') format('truetype'),
    url('bebasneue_regular-webfont.svg#bebas_neue_regularregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

p {
    font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
    text-transform: none;
    margin-bottom: 7%
}
.centering{
    position: relative;
}

/*MAIN*/

.app-page {
   background-image: url('../img/background-main.jpg');
    background-size: cover;
}

    .header-bar {
        height: 10%;
        background-color: #5d95ce;
    }

        .header-bar img {
            position: absolute;
            top: 15%;
            left: 46%;
        }

    .container {
        height: 62%;
        margin-top: 23%;
        text-align: center;
        text-decoration-color: #000;
        width: 95%;
        margin-left: 5%;
        overflow-x: hidden;
        overflow-y: auto;
        padding-right: 20px;
    }

        .container h1 {
            color: #373d46;
            font-family: 'Bebas Neue Regular';
            font-size: 40px;
            margin-bottom: 5%;
        }

        .container p {
            font-weight: 300;
            font-size: 16px;
            line-height: 1.7;
            text-align: justify;
        }

        #deviceready {
            margin-top: 30px;
        }

            .padded-for-cell {
                background: -webkit-linear-gradient(#2b2c2e, #383f48); /* For Safari 5.1 to 6.0 */
                background: -o-linear-gradient(#2b2c2e, #383f48); /* For Opera 11.1 to 12.0 */
                background: -moz-linear-gradient(#2b2c2e, #383f48); /* For Firefox 3.6 to 15 */
                background: linear-gradient(#2b2c2e, #383f48); /* Standard syntax */
                border: 2px solid #3c3f43;
                border-radius: 5px;
                height: 10%;

                color: #ffffff;
                font-size: 16px;
                font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
                text-transform: uppercase;
                padding: 20px;
                text-align: center;
                position: absolute;
                width: 90%;
                left: 5%;
                bottom: 10%;
            }

            .padded-for-cell.two {
                width: 42.5%;
            }

            .padded-for-cell.two.barcodetext,
            .padded-for-cell.two.photonext {
                left: 52.5%;
            }

        input[type=text] {
            border-radius: 5px;
            padding: 10px;
            border-top: 1px solid #b3b3b3;
            box-shadow: inset 0 0 1px #000000;
            font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
            color: #B3B3B3;
            border-bottom: none;
        }

        #barcode:focus {
            border-top: 1px solid #b3b3b3;
            box-shadow: inset 0 0 1px #000000;
            border-bottom: none;
        }

        input[type="checkbox"] {
            background: #454c56;
            border: #646464 1px solid;
            box-shadow: inset 0 0 10px #999999;
            width: 25px;
            height: 25px;
        }

            input[type="checkbox"]:checked {
                background: #5d95ce;
                box-shadow: inset 0 0 10px #A2CFE7;
                border: #646464 1px solid;
            }

            input[type="checkbox"]:checked::before {
                content: '';
            }


    footer {
        height: 5%;
        width: 100%;
        display: block;
        position: absolute;
        bottom: 0;
        background-color: #5d95ce;
    }


/*STARTPAGE*/
#background-start {
    background-image: url('../img/background-start.jpg');
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    background-size: cover;
}

    .logo {
        text-align: center;
        margin-top: 35%;
    }

    .starttitle{
        font-size:65px;
        font-family: 'Bebas Neue Regular';
        text-align: center;
        margin-bottom: 30px;
        color: #ffffff;
        margin-top: 5.2%;
    }


.content {
    margin-left: 20px;
    margin-right: 20px;
}

.redenenlijst div {
    width: 50%;
    float: left;
    margin-bottom: 7%;
}

.redenenlijst label {
    width: 100%;
}
.redenenlijst label input[type=checkbox],
.container label input[type=checkbox]{
    float: left;
}

.redenenlijst p {
    float: left;
    text-align: left;
    margin-left: 20px;
}

